* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 100vh;

  background-image: url(imge/stars-sky-with-clouds-background-dark-blue-cosmos-card-kids-wallpaper-design_145790-1405.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url(imge/stars-sky-with-clouds-background-dark-blue-cosmos-card-kids-wallpaper-design_145790-1405.jpg);
}
.nav {
  width: 36%;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.nav ul li a {
  color: white;
  font-size: 19px;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.3s;
}
.nav ul li a:hover,
#active {
  color: #df4b30;
  font-weight: bold;
}

.content {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 23%;
}
.content h1 {
  color: white;
  text-transform: capitalize;
}
.content p {
  color: rgb(180, 180, 180);
  margin-top: 16px;
}

.social-icon {
  position: fixed;
  left: 0;
  top: 260px;
}
.social-icon i {
  color: white;
  font-size: 24px;
}
.linked,
.facebook,
.heart {
  width: 50px;
  height: 50px;

  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  box-shadow: 3px 3px 16px #192b4350;
}
.linked {
  background-color: #007ab4;
}
.facebook {
  background-color: #38569b;
}
.heart {
  background-color: #df4b30;
}
.section2 {
  width: 80%;
  margin: 80px auto;
}
.section2 h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #192b43;
  font-weight: bold;
}
.section2 p {
  line-height: 24px;
}
.arrow {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #df4b30;
  bottom: 60px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 16px #192b4350;
}
.arrow i {
  color: white;
  font-size: 23px;

  scroll-behavior: smooth;
}
.copy {
  background-color: #192b43;
  width: 100%;
}
.copy p {
  color: white;
  text-align: center;
  text-transform: capitalize;
  padding: 16px 0;
}
